apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.fullname" . }}
  namespace: {{ template "common.namespace" . }}
  labels:
    app: {{ template "common.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  config.yaml : |
    forwarder:
      densify:
{{- $collectorUrl := .Values.config.collector.url | default dict }}
{{- if not $collectorUrl.host }}
  {{- if .Values.global.kubex.url.host }}
    {{- $_ := set $collectorUrl "host" .Values.global.kubex.url.host }}
  {{- else }}
    {{- fail "A Kubex URL host is required. Set .Values.global.kubex.url.host" }}
  {{- end }}
{{- end }}
{{- if not $collectorUrl.scheme }}
  {{- $_ := set $collectorUrl "scheme" (.Values.global.kubex.url.scheme | default "https") }}
{{- end }}
{{- if and (not $collectorUrl.port) (not (hasKey $collectorUrl "port")) }}
  {{- $_ := set $collectorUrl "port" (.Values.global.kubex.url.port | default 443) }}
{{- end }}
        url: {{- omit $collectorUrl "UserSecretName" | toYaml | trim | nindent 10 }}
{{- if .Values.config.collector.endpoint }}
        endpoint: {{ .Values.config.collector.endpoint }}
{{- end }}
{{- if .Values.config.collector.retry }}
        retry: {{- .Values.config.collector.retry | toYaml | trim | nindent 10 }}
{{- end }}
{{- if .Values.config.collector.proxy }}
{{- $proxyUrl := .Values.config.collector.proxy.url | required ".Values.config.collector.proxy.url is required." }}
      proxy:
        url:
          scheme: {{ $proxyUrl.scheme | required ".Values.config.collector.proxy.url.scheme is required." }}
          host: {{ $proxyUrl.host | required ".Values.config.collector.proxy.url.host is required." }}
{{- if $proxyUrl.port }}
          port: {{ $proxyUrl.port }}
{{- end }}
{{- if $proxyUrl.username }}
          username: {{ $proxyUrl.username }}
{{- end }}
{{- if $proxyUrl.password }}
          password: {{ $proxyUrl.password }}
{{- end }}
{{- if $proxyUrl.encrypted_password }}
          encrypted_password: {{ $proxyUrl.encrypted_password }}
{{- end }}
{{- if .Values.config.collector.proxy.auth }}
        auth: {{ .Values.config.collector.proxy.auth }}
{{- if eq (lower .Values.config.collector.proxy.auth) "ntlm" }}
        server: {{ .Values.config.collector.proxy.server | required ".Values.config.collector.proxy.server is required for ntlm auth." }}
        domain: {{ .Values.config.collector.proxy.domain | required ".Values.config.collector.proxy.domain is required for ntlm auth." }}
{{- end }}
{{- end }}
{{- end }}
{{- if .Values.config.collector.prefix }}
      prefix: {{ .Values.config.collector.prefix }}
{{- end }}
    prometheus:
{{- $promUrl := .Values.config.prometheus.url | required ".Values.config.prometheus.url is required." }}
{{- $promHost := $promUrl.host | required ".Values.config.prometheus.url.host is required." }}
      url: {{- omit $promUrl "PrometheusSecretName" | toYaml | trim | nindent 8 }}
{{- if and (not (.Values.serviceAccount.isGKE)) (or (.Values.serviceAccount.create) (.Values.serviceAccount.name) (.Values.config.prometheus.bearer_token)) }}
      bearer_token: {{ template "common.serviceAccountToken" . }}
{{- end }}
{{- if and (not (or (.Values.config.prometheus.sigv4) (.Values.config.prometheus.AzureMonitorSecretName) (.Values.config.prometheus.GoogleMonitoringSecretName) (.Values.serviceAccount.isGKE))) (or (.Values.serviceAccount.create) (.Values.serviceAccount.name) (.Values.config.prometheus.ca_cert)) }}
      ca_cert: {{ template "common.serviceAccountCaCert" . }}
{{- end }}
{{- if .Values.config.prometheus.sigv4 }}
{{- $sigv4Region := .Values.config.prometheus.sigv4.region | required ".Values.config.prometheus.sigv4.region is required." }}
      sigv4: {{- omit .Values.config.prometheus.sigv4 "AwsSecretName" | toYaml | trim | nindent 8 }}
{{- end }}
{{- if .Values.config.prometheus.retry }}
      retry: {{- .Values.config.prometheus.retry | toYaml | trim | nindent 8 }}
{{- end }}
{{- if .Values.config.collection }}
    collection: {{- .Values.config.collection | toYaml | trim | nindent 6 }}
{{- end }}
    clusters:
{{- range $cluster := .Values.config.clusters }}
{{- $clusterName := $cluster.name | default $.Values.global.cluster.name | default "" }}
      - name: {{ $clusterName | quote }}
        identifiers:
{{- range $key, $value := $cluster.identifiers }}
{{- printf "%s: %s" $key (tpl $value $ | quote) | nindent 10 }}
{{- end }}
{{- end }}
{{- if .Values.config.debug }}
    debug: {{ .Values.config.debug }}
{{- end }}
