{{- if .Values.job.enable }}
{{- include "common.validateGoogleMonitoringKeys" . -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "common.fullname" . }}
  namespace: {{ template "common.namespace" . }}
  labels:
    app: {{ template "common.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/resource-policy": keep
spec:
  backoffLimit: {{ template "common.jobBackoffLimit" . }}
  {{- if and (hasKey .Values.cronJob "ttlSecondsAfterFinished") (not (empty (toString .Values.cronJob.ttlSecondsAfterFinished))) (ge (int64 .Values.cronJob.ttlSecondsAfterFinished) 0) }}
  ttlSecondsAfterFinished: {{ .Values.cronJob.ttlSecondsAfterFinished }}
  {{- end }}
  template:
    metadata:
      labels:
        app: {{ template "common.name" . }}
        release: {{ .Release.Name }}
    spec:
      securityContext:
        fsGroup: 3000
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile:
          type: RuntimeDefault
      {{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
      {{- end }}
      {{- if .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
{{ toYaml .Values.topologySpreadConstraints | indent 8 }}
      {{- end }}
      {{- if or (.Values.serviceAccount.create) (.Values.serviceAccount.name) (and (.Values.config.prometheus.sigv4) (not (or .Values.config.prometheus.sigv4.AwsSecretName .Values.config.prometheus.sigv4.access_key))) }}
      serviceAccountName: {{ template "common.serviceAccountName" . }}
      {{- end }}
      initContainers:
      {{- if .Values.job.checkPrometheusReady }}
      - name: check-prometheus-ready
        image: {{ .Values.imageCheckPrometheusReady }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        env:
        - name: TARGET_HOST
          value: "{{ .Values.config.prometheus.url.host }}"
        - name: TARGET_PORT
          value: {{ template "common.prometheusPort" . }}
        command: ["/bin/sh", "-c"]
        args:
        - |
          until nc -vz -w 3 ${TARGET_HOST} ${TARGET_PORT}; do
            echo "Waiting for Prometheus server ${TARGET_HOST} port ${TARGET_PORT}"
            sleep 2
          done
      {{- end }}
      {{- if .Values.config.prometheus.AzureMonitorSecretName }}
      - name: azure-token
        image: "{{ .Values.imageAzureToken }}"
        imagePullPolicy: {{ .Values.pullPolicy }}
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        env:
        - name: ENTRA_SERVICE_PRINCIPAL
          value: "/home/densify/.azmon/app.json"
        - name: AZURE_RESOURCE
          value: "https://prometheus.monitor.azure.com"
        - name: BEARER_TOKEN_FILE
          value: "/home/densify/.tokens/token"
        volumeMounts:
        - mountPath: /home/densify/.azmon
          name: azmon
          readOnly: true
        - mountPath: /home/densify/.tokens
          name: tokens
      {{- end }}
      {{- if or (.Values.config.prometheus.GoogleMonitoringSecretName) (.Values.serviceAccount.isGKE) }}
      - name: gcp-token
        image: "{{ .Values.imageGCPOAuth2Token }}"
        imagePullPolicy: {{ .Values.pullPolicy }}
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        env:
        {{- if .Values.config.prometheus.GoogleMonitoringKeyName }}
        - name: GOOGLE_SERVICE_ACCOUNT_KEY
          value: "/home/densify/.gcpmon/{{ .Values.config.prometheus.GoogleMonitoringKeyName }}"
        {{- end }}
        - name: BEARER_TOKEN_FILE
          value: "/home/densify/.tokens/token"
        volumeMounts:
        {{- if .Values.config.prometheus.GoogleMonitoringSecretName }}
        - mountPath: /home/densify/.gcpmon
          name: gcpmon
          readOnly: true
        {{- end }}
        - mountPath: /home/densify/.tokens
          name: tokens
      {{- end }}
      containers:
        - name: {{ template "common.name" . }}
          image: "{{ .Values.image }}"
          imagePullPolicy: {{ .Values.pullPolicy }}
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          env:
            - name: CONFIG_TYPE
              value: "yaml"
            {{- if .Values.config.forwarder.densify.url.UserSecretName }}
            - name: DENSIFY_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.forwarder.densify.url.UserSecretName }}
                  key: username
            - name: DENSIFY_EPASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.forwarder.densify.url.UserSecretName }}
                  key: epassword
            {{- end }}
            {{- if and (.Values.config.forwarder.proxy) (.Values.config.forwarder.proxy.url) (.Values.config.forwarder.proxy.url.ProxySecretName) }}
            - name: DENSIFY_PROXYUSER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.forwarder.proxy.url.ProxySecretName }}
                  key: username
            - name: DENSIFY_PROXYPASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.forwarder.proxy.url.ProxySecretName }}
                  key: password
            {{- end }}
            {{- if .Values.config.prometheus.url.PrometheusSecretName }}
            - name: PROMETHEUS_USER
              value: "/home/densify/.prometheus/username"
            - name: PROMETHEUS_PASSWORD
              value: "/home/densify/.prometheus/password"
            {{- end }}              
            {{- if or (.Values.config.prometheus.AzureMonitorSecretName) (.Values.config.prometheus.GoogleMonitoringSecretName) (.Values.serviceAccount.isGKE) }}
            - name: PROMETHEUS_OAUTH_TOKEN
              value: "/home/densify/.tokens/token"
            {{- end }}
            {{- if .Values.config.prometheus.CaCertSecretName }}
            - name: CA_CERTIFICATE
              value: "/home/densify/.certs/ca.crt"
            {{- end }}
          volumeMounts:
          - name: data
            mountPath: /home/densify/data
          - name: config
            mountPath: /config
          {{- if .Values.config.prometheus.url.PrometheusSecretName }}
          - name: prometheus
            mountPath: /home/densify/.prometheus
            readOnly: true
          {{- end }}
          {{- if and (.Values.config.prometheus.sigv4) (.Values.config.prometheus.sigv4.AwsSecretName) }}
          - name: aws
            mountPath: /home/densify/.aws
            readOnly: true
          {{- end }}
          {{- if or (.Values.config.prometheus.AzureMonitorSecretName) (.Values.config.prometheus.GoogleMonitoringSecretName) (.Values.serviceAccount.isGKE) }}
          - name: tokens
            mountPath: /home/densify/.tokens
            readOnly: true
          {{- end }}
          {{- if .Values.config.prometheus.CaCertSecretName }}
          - name: certs
            mountPath: /home/densify/.certs
            readOnly: true
          {{- end }}
          {{- if .Values.resources }}
          resources: {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
      volumes:
        - name: data
          emptyDir: {}
        - name: config
          configMap:
            name: {{ template "common.fullname" . }}
            items:
            - key: config.yaml
              path: config.yaml
        {{- if .Values.config.prometheus.url.PrometheusSecretName }}
        - name: prometheus
          secret:
            secretName: {{ .Values.config.prometheus.url.PrometheusSecretName }}
        {{- end }}
        {{- if and (.Values.config.prometheus.sigv4) (.Values.config.prometheus.sigv4.AwsSecretName) }}
        - name: aws
          secret:
            secretName: {{ .Values.config.prometheus.sigv4.AwsSecretName }}
        {{- end }}
        {{- if or (.Values.config.prometheus.AzureMonitorSecretName) (.Values.config.prometheus.GoogleMonitoringSecretName) (.Values.serviceAccount.isGKE) }}
        - name: tokens
          emptyDir: {}
        {{- end }}
        {{- if .Values.config.prometheus.AzureMonitorSecretName }}
        - name: azmon
          secret:
            secretName: {{ .Values.config.prometheus.AzureMonitorSecretName }}
        {{- end }}
        {{- if .Values.config.prometheus.GoogleMonitoringSecretName }}
        - name: gcpmon
          secret:
            secretName: {{ .Values.config.prometheus.GoogleMonitoringSecretName }}
        {{- end }}
        {{- if .Values.config.prometheus.CaCertSecretName }}
        - name: certs
          secret:
            secretName: {{ .Values.config.prometheus.CaCertSecretName }}
        {{- end }}
      restartPolicy: Never
{{- end }}
