#################################################################
# densify/container-optimization-data-forwarder parameters
#################################################################

stack:
  runsInGKEAutopilot: true
  densify:
    createSecret: true

container-optimization-data-forwarder:
  nameOverride: kubex-collection
  tolerations:
    # Tolerate arch taints (works on both amd64 and arm64 clusters)
    - key: "kubernetes.io/arch"
      operator: "Exists"
      effect: "NoSchedule"
  config:
    forwarder:
      densify:
        url:
          UserSecretName: densify-api-secret

#################################################################
# prometheus-community/kube-state-metrics parameters
#################################################################

kube-state-metrics:
  rbac:
    create: true
  tolerations:
    # Tolerate arch taints (works on both amd64 and arm64 clusters)
    - key: "kubernetes.io/arch"
      operator: "Exists"
      effect: "NoSchedule"
  metricAnnotationsAllowList:
    - 'namespaces=[*]'
  metricLabelsAllowlist:
    - 'nodes=[*]'
    - 'namespaces=[*]'
    - 'pods=[*]'
    - 'deployments=[*]'
    - 'replicasets=[*]'
    - 'daemonsets=[*]'
    - 'statefulsets=[*]'
    - 'jobs=[*]'
    - 'cronjobs=[*]'
    - 'horizontalpodautoscalers=[*]'
  collectors:
    - cronjobs
    - daemonsets
    - deployments
    - horizontalpodautoscalers
    - jobs
    - namespaces
    - nodes
    - poddisruptionbudgets
    - pods
    - replicasets
    - replicationcontrollers
    - resourcequotas
    - statefulsets
