stack:
  densify:
    username: '<changeme-username>' # mandatory (unless createSecret = false)
    encrypted_password: '<changeme-encrypted-password>' # mandatory (unless createSecret = false)

container-optimization-data-forwarder:
  config:
    forwarder:
      densify:
        url:
          host: '<changeme-densify-host>' # mandatory: <instance>.densify.com
    clusters:
      - name: '<changeme-cluster-name>' # mandatory

  # Optional: Additional labels to add to CronJob and Job resources
  extraLabels:
    my-custom-label: my-value-1
  # Optional: Additional annotations to add to CronJob and Job resources
  extraAnnotations:
    my-custom-annotation: my-value-2

# The following values are optional, if job cleanup is required;
# each one of these should be a non-negative integer (0 is allowed)
  # cronJob:
    # successfulJobsHistoryLimit: <value>
    # failedJobsHistoryLimit: <value>
    # ttlSecondsAfterFinished: <value> # applies for both the cronjob and the job
    # backoffLimit: <value> # applies for both the cronjob and the job, default: 4

# The following section is optional, and is required only in the following use-case:
# 1. The persistent volume for Prometheus has to use an explicit storage class (not the default)

# prometheus: # optional
  # server:
    # persistentVolume:
    #   storageClass: <changeme-storage-class>
