{{- $stackVals := .Values.stack | default dict -}}
{{- $isAutopilot := eq (include "stack.normalizedFlavor" .) "gke-autopilot" -}}
{{- $runsInCluster := default true $stackVals.runsInGKEAutopilot -}}
{{- $keyName := default "" $stackVals.gcpServiceAccountKeyName -}}
{{- $keyContents := default "" $stackVals.gcpServiceAccountKeyContents -}}
{{- if and $isAutopilot (not $runsInCluster) $keyName $keyContents }}
apiVersion: v1
kind: Secret
metadata:
  name: gcp-service-account-secret
  namespace: {{ template "common.namespace" . }}
type: Opaque
data:
  {{ $keyName }}: {{ $keyContents | b64enc | quote }}
{{- end }}
