{{- include "common.checkValues" . -}} # As this is the only template in the chart, the checkValues function is called here to verify that all values - including those of the subcharts - have been set properly in values-edit.yaml
{{- if .Values.global.createSecret }}
apiVersion : v1
kind : Secret
metadata :
  name : kubex-api-secret
  namespace: {{ template "common.namespace" . }}
type : Opaque
data : 
  username : {{ required ".Values.kubex-data-collector.credentials.username is required" (index .Values "kubex-data-collector" "credentials" "username") | b64enc | quote }}
  epassword : {{ required ".Values.kubex-data-collector.credentials.epassword is required" (index .Values "kubex-data-collector" "credentials" "epassword") | b64enc | quote }}
{{- end }}
