{{- $isOpenShift := eq (include "stack.normalizedFlavor" .) "openshift" -}}
{{- $collectorVals := (index .Values "kubex-data-collector") | default dict -}}
{{- $rbacVals := (index $collectorVals "rbac") | default dict -}}
{{- $rbacCreate := default false (index $rbacVals "create") -}}
{{- $serviceAccountVals := (index $collectorVals "serviceAccount") | default dict -}}
{{- $saName := default "kubex-collection" (index $serviceAccountVals "name") -}}
{{- if and $isOpenShift $rbacCreate $saName }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ printf "%s-monitoring" .Release.Name }}
  labels:
    app.kubernetes.io/name: kubex-automation-stack
    app.kubernetes.io/instance: {{ .Release.Name }}
subjects:
- kind: ServiceAccount
  name: {{ $saName }}
  namespace: {{ template "common.namespace" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-monitoring-view
{{- end }}
