{{- if (index .Values "container-optimization-data-forwarder").rbac.create }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ template "common.fullname" . }}-monitoring
  labels:
    app: {{ template "common.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-monitoring-view
subjects:
- kind: ServiceAccount
  name: {{ (index .Values "container-optimization-data-forwarder").serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
{{- end }}
