apiVersion: v1
kind: ConfigMap
metadata:
  name: kubex-config
  namespace: {{ .Release.Namespace }}
data:
  CLUSTER_NAME: {{ .Values.global.cluster.name | default .Values.cluster.name | required ".Values.global.cluster.name or .Values.cluster.name is required." | quote }}
  KUBEX_BASE_URL: >-
{{- $kubexUrl := .Values.config.kubex.url | default dict }}
{{- if not $kubexUrl.host }}
  {{- if .Values.global.kubex.url.host }}
    {{- $_ := set $kubexUrl "host" .Values.global.kubex.url.host }}
  {{- else }}
    {{- fail "A Kubex URL host is required. Set .Values.global.kubex.url.host" }}
  {{- end }}
{{- end }}
    {{- $scheme := $kubexUrl.scheme | default "https" }}
    {{- $host := $kubexUrl.host }}
    {{- if and (hasKey $kubexUrl "port") $kubexUrl.port }}
    {{ printf "%s://%s:%d" $scheme $host ($kubexUrl.port | int) }}
    {{- else }}
    {{ printf "%s://%s" $scheme $host }}
    {{- end }}


--- 
apiVersion: v1
kind: ConfigMap
metadata:
  name: kubex-automation-controller-clusterrole
  namespace: {{ .Release.Namespace }}
data:
  kubex-automation-controller-clusterrole-rules: |-
{{ include "kubex-automation-controller.kubex-automation-controller-clusterrole-rules" . | nindent 4 }}

--- 
apiVersion: v1
kind: ConfigMap
metadata:
  name: kubex-automation-scope
  namespace: {{ .Release.Namespace }}
data:
  kubex-automation-scope: |-
{{- if and .Values.policy.automationEnabled (gt (len .Values.scope) 0) }}
  {{- range .Values.scope }}
    {{ .name }}:
      policyName: {{ .policy | default $.Values.policy.defaultPolicy | quote }}
      {{- if .namespaces }}
      namespaces:{{ toYaml .namespaces | nindent 8 }}
      {{- end }}
      {{- if .podLabels }}
      podLabels:{{ toYaml .podLabels | nindent 8 }}
      {{- end }}
  {{- end }}
{{- end }}

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: kubex-automation-policy
  namespace: {{ .Release.Namespace }}
data:
  kubex-automation-policy: |-
    automationEnabled: {{ .Values.policy.automationEnabled }}
    defaultPolicy: {{ .Values.policy.defaultPolicy }}
    remoteEnablement: {{ .Values.policy.remoteEnablement }}
    policies:
    {{- toYaml .Values.policy.policies | nindent 6 }}