{{- if .Values.createSecrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kubex-automation-controller.densifyUserSecretName" . }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  DENSIFY_USERNAME: {{ include "kubex-automation-controller.credentials.username" . | b64enc | quote }}
  DENSIFY_EPASSWORD: {{ include "kubex-automation-controller.credentials.epassword" . | b64enc | quote }}
{{- end }}
